@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>
<video width="600" src="https://s3.amazonaws.com/djquipvid/lCMgLWZg.mp4" poster="https://s3.amazonaws.com/djquipvid/lCMgLWZg_1.jpg" autoplay controls playsinline></video>
<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

}